@model InterviewTask.Web.BindingModels.Company.CompanyBindingModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="bg-dark text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Edit the company</h3>

<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Name" class="text-dark h5"></label>
            </div>

            <input type="text"
                   class="form-control text-primary text-center"
                   placeholder="Name of the company..."
                   value="@Model.Name"
                   asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>

            <div class="d-flex justify-content-center mt-2">
                <label asp-for="Address" class="text-dark h5"></label>
            </div>

            <input type="text"
                   class="form-control text-primary text-center"
                   placeholder="Brand..."
                   value="@Model.Address"
                   asp-for="Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center border-t mt-3">
        <button class="btn btn-outline-warning mt-3 font-weight-bold mr-2">Edit the company</button>
        <a href="/" class="btn btn-outline-primary mt-3 font-weight-bold">Back</a>
    </div>
</form>